<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Rescuing Angular's Missing Model &amp; and Making it Real-Time</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/sub_modules/reveal/css/reveal.min.css">
    <link rel="stylesheet" href="custom.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="/sub_modules/reveal/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="/sub_modules/reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="/sub_modules/reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/jop5wss.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div class="df-frame">
      <div class="df-bar"></div>
      <div class="logo"></div>
    </div>

    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <!-- <h1><img src="img/gi-logo.png"></h1> -->
          <h1>Rescuing the MIA Angular Model<br><span class="green">and Making it <em>Real-Time</em></span></h1>
        </section>

        <section id="slide-location" class="box" data-background="img/halifax.png">
          <h1 style="text-align: center;">Matthew Creager</h1>
          <h4><a href="http://twitter.com/matt_creager" target="_blank">@matt_creager</a></h4>
        </section>

        <section data-background="white">
          <img src="img/blackberry.png">
        </section>

        <section data-background="#2C4762">
          <img src="img/big-data.jpg">
        </section>

        <section data-background="img/blackberry-crash.png">
        </section>

        <section>
          <img src="img/gi-logo.png">
        </section>

        <section>
          <img src="img/goangular-logo.png">
        </section>

        <section data-background="white">
          <img src="img/yey.jpeg">
        </section>

        <section>
          <h3>Enough about me, let's chat about <strong> your Angular Application</strong> and it's <strong>Data Model</strong></h3>
        </section>

        <section>
          <h2 class="white"><strong>1</strong></h2>
          <h2 class="blue">The <em><strong>m</strong>agic</em> &amp; <em><strong>m</strong>ystery</em> <br>of the <em><strong>m</strong>issing</em> Angular <strong>M</strong>odel</h2>
        </section>

        <section>
          <h2><strong>2</strong></h1>
          <h2 class="yellow">Take the M out of MIA <br> and <strong>put it back in <em>M</em>VC</strong></h2>
        </section>

        <section>
          <h2><strong>3</strong></h2>
          <h2 class="green">Make it <strong>real-time</strong></h2>
        </section>

        <section data-background="img/start.jpg"></section>

        <section>
          <h2 class="white"><strong>1</strong></h2>
          <h2 class="blue">The <em><strong>m</strong>agic</em> &amp; <em><strong>m</strong>ystery</em> <br>of the <em><strong>m</strong>issing</em> Angular <strong>M</strong>odel</h2>
        </section>

        <section>
          <h3><strong>The <span class="blue">Magic</span></strong></h3>
        </section>

        <section>
          <h3>++ A <em>convenient</em>, <em>consistent</em> API for data <span class="blue">access</span> and <span class="blue">manipulation</span>
        </section>

        <section>
          <h3>++ an <span class="blue">authority</span> on <span class="blue"> state change</span>
        </section>

        <section>
          <h3>++ a <span class="blue">home</span> for <span class="blue">business logic</span>
        </section>

         <section data-background="img/cocoon.jpg" class="box" style="padding-top:1.2em;">
          <h3>++ data <span class="blue">encapsulation</span></h3>
        </section>

        <section>
          <h3><strong>The <span class="blue">Mystery</span></strong></h3>
        </section>

        <section data-background="white">
          <img src="img/mvc-0.jpg">
        </section>

        <section data-background="white">
          <img src="img/mvc-1.png">
        </section>

        <section data-background="white">
          <img src="img/mvc-2.png">
        </section>

        <section data-background="white">
          <img src="img/mvc-3.png">
        </section>

        <section>
          <h3>Anything on <span class="blue">$scope</span> is a model right ?</h3>
          <h2><pre><code>$scope.model = data;</code></pre></h2>
        </section>

        <section>
          <h3>The first attempt, <span class="blue"><em>sans</em> Model</span></h3>
          <img src="img/goangular-todo-v1.png">
        </section>

        <section>
          <h3 class="blue">So very, <em>very</em>, <strong>bad</strong></h3>
          <ul>
            <li class="fragment">Data is <strong>married to the life-cycle</strong> of a controller</li>
            <li class="fragment">Code is <strong>self obfuscating</strong></li>
            <li class="fragment">Extend <strong>what ?</strong></li>
            <li class="fragment">Go <strong>directly to storage</strong>; do not pass go, do not collect $200</li>
          </ul>
        </section>

        <section>
          <h3>Anything on <span class="blue">$scope</span> is a model right ?</h3>
          <h3><strong><span class="fragment">Not</span> <span class="fragment">so</span> <span class="fragment">much</span></strong></h3>
        </section>

        <section data-background="#012943">
          <img src="img/death-scope.jpg">
        </section>

        <section>
          <h2><strong>2</strong></h1>
          <h2 class="yellow">Take the M out of MIA <br> and <strong>put it back in <em>M</em>VC</strong></h2>
        </section>

        <section data-background="img/orc.jpg" class="box" style="padding-top: 45px;">
          <h2>Today's <strong>Todo Application</strong></h2>
        </section>

        <section data-background="img/onions.jpg" class="box">
          <h2><strong>The Onion</strong></h2>
          <h3 class="fragment">Let's <span class="yellow">attack</span> the <strong>architecture</strong></h3>
          <h3 class="fragment"><span class="yellow">Visit</span> the <strong>view</strong></h3>
          <h3 class="fragment">Come into <span class="yellow">contact</span> with the <strong>controller</strong></span></h3>
          <h3 class="fragment"><span class="yellow">Meet</span> the <strong>Model</strong></h3>
          <h3 class="fragment"><span class="yellow">Finale</span> with the <strong>Data Layer</strong></h3>
        </section>

        <section>
          <h5><strong>Current landscape; acceptable for <span class="yellow">small projects.</span></strong></h5>
          <img src="img/angular-seed.png">
          <h5>Architecture</h5>
        </section>

        <section>
          <img src="img/architecture.png">
          <h5><strong>Up &amp; coming architecture for <span class="yellow"><strong>everything else</strong>.</span></strong></h5>
        </section>

        <section>
          <h3 class="yellow">So very, <em>very</em>, <strong>sensible</strong></h3>
          <ul>
            <li class="fragment">It's <strong>how we <em>think</em></strong></li>
            <li class="fragment">How we <strong>work</strong></li>
            <li class="fragment">How we <strong>version control</strong></li>
          </ul>
        </section>

        <section>
        <h5>A <em>View</em> with a <span class="yellow">solid foundation</span></h5>
<pre><code><div ng-controller="UnitCtrl">
  <div ng-repeat="unit in units">
    <img ng-src="{{ unit.image }}">
    <details>
      <span>{{ unit.name }}</span>
      <span>{{ unit.points }} points</span>
      <span>{{ unit.cost | currency }}</span>
      <description>{{ unit.description | words:15  }}</description>
      <button type="button" ng-click="unit.$remove()">Remove</button>
      <button type="button" ng-click="roster.$add(unit)">Add</button>
      <button type="button" ng-click="editUnit(unit)">Edit</button>
    </details>
  </div>
</div></code></pre>
<h5>Is about <strong>presentation</strong> and <strong>interaction</strong></h5>
        </section>

        <section>
        <h5>A <em>Controller</em> with a <span class="yellow">solid foundation</span></h5>
<pre><code>.controller('UnitCtrl', [
  '$scope',
  '$editUnitModal',
  'unitFactory',
  function($scope, $editUnitModal, unitFactory) {

  $scope.units = unitFactory();
  $scope.units.initialize().then(function() {
    // Units are loaded!
  }).finally($scope.$apply.bind($scope));

  $scope.editUnit = function(unit) {
     $editUnitModal.open(unit);
  };
}]);</code></pre>
<h5><strong>Communicates</strong> what your application is <strong>doing</strong></h5>
        </section>

        <section data-background="img/unicorn.jpg">
          <h2 style="color: purple;"><strong>FINALLY THE MODEL</strong></h2>
        </section>

        <section>
        <h5>Brief <em>aside</em>: The <strong>Factory</strong></h5>
<pre><code>.factory('rosterFactory', [
  '$timeout',
  'rosterService',
  function($timeout, RosterService) {
    return function rosterFactory(id) {
      var service = new RosterService(id);

      return new RosterModel(service);
    };
}]);</code></pre>
<h5>because Models <span class="yellow">don't make themselves!</span></h5>
        </section>

        <section data-background="img/unicorn.jpg">
          <h2 style="color: purple;"><strong>MUCH SUSPENSE</strong></h2>
        </section>

        <section>
        <h5>The <strong>MISSING MODEL !</strong></h5>
<pre><code>.factory('rosterFactory', [
  '$timeout',
  'rosterService',
  function($timeout, RosterService) {
    return function rosterFactory(id) {
      var service = new RosterService(id);

      return new RosterModel(service);
    };
}]);</code></pre>
        <h5>such dissapointment, <span class="yellow">too easy.</span></h5>
        </section>

                <section id="slide-access-control">
          <h2 class="text-uppercase">API Storm</h2>
          <ul>
            <li class="fragment"><span>extend</span></li>
            <li class="fragment"><span>initialize</span></li>
            <li class="fragment"><span>get</span></li>
            <li class="fragment"><span>sync</span></li>
            <li class="fragment"><span>set</span></li>
            <li class="fragment"><span>key/child</span></li>
            <li class="fragment"><span>omit</span></li>
          </ul>
        </section>

        <section>
        <h5>The <em>service</em>, because <strong>every foundation</strong> <em>starts</em></h5>
<pre><code>.factory('rosterFactory', [
  '$timeout',
  'rosterService',
  function($timeout, RosterService) {
    return function rosterFactory(id) {
      var service = new RosterService(id);

      return new RosterModel(service);
    };
}]);</code></pre>
  <h5>with a ... <span class="yellow">solid foundation</span></h5>
        </section>

        <section>
          <h2><strong>3</strong></h2>
          <h2 class="green">Make it <strong>real-time</strong></h2>
        </section>

        <section>
          <h3>First <span class="green">Register event bindings</span></h3>
          <ul>
            <li class="fragment"><strong>Set:</strong> Existing property receives new value</li>
            <li class="fragment"><strong>Add:</strong> New property</li>
            <li class="fragment"><strong>Remove:</strong> Removed property</li>
          </ul>
        </section>

        <section>
          <h3>Recognize that you need the <em>right</em> information to maintain a local Representation of your remote data and <span class="green">that requires the <strong>right events.</strong></span></h3>
        </section>

        <section>
          <h3>Second <span class="green">Fetch Everything</span></h3>
          <ul>
            <li class="fragment">Prime the Model</li>
            <li class="fragment">Resolve, emit or callback When Complete</li>
          </ul>
        </section>

        <section>
          <h3>Return an object,  <span class="green">populate it <em>later</em><span class="green"></h3>
        </section>

        <section>
          <h3><strong>Promises</strong> (Q) for the <em>one-hit wonders</em>, <strong>events</strong> for the <em>other stuff</em></h3>
        </section>

        <section>
          <h3>Third (if you <em>must</em>) <span class="green">Persist Local Changes</span></h3>
          <ul>
            <li class="fragment">Monitor local object</li>
            <li class="fragment">Calculate the diff</li>
            <li class="fragment">Push changes upstream</li>
          </ul>
        </section>

        <section>
          <h3>Kiss your error <span class="green">locality, performance</span> and <strong>sanity</strong> good-bye and create an audit log</h3>
        </section>

        <section>
          <h1>Conclusion</h1>
        </section>

        <section>
          <h3>Models provide an API for <span class="blue">accessing</span> and <span class="blue">manipulating</span> data</h3>
        </section>

        <section>
          <h3><span class="blue">Data encapsulation</span> is important, especially in Angular</h3>
        </section>

        <section>
          <h3>Make a model real-time by:</h3>
          <ul>
            <li class="fragment">1. Monitoring remote
            events</li>
            <li class="fragment">2. Performing an initial
            fetch</li>
            <li class="fragment">3. Monitoring and persisting local state</li>
          </ul>
        </section>

        <section>
          <h3>Signs you’re doing it right:</h3>
          <ul>
            <li class="fragment">Your model is easy to unit &amp; intergration test</li>
            <li class="fragment">Your model is easy to extend</li>
            <li class="fragment">Your model is portable</li>
            <li class="fragment">Your controllers are skinny</li>
            <li class="fragment">"A place for everything, everything in its place." - Benjamin Franklin</li>
          </ul>
        </section>

        <section>
          <h3>GoAngular &amp; Examples on GitHub</h3>
          <ul style="list-style: none">
            <li><code class="orange">/goinstant/goangular</code></li>
            <li><code class="orange">/mattcreager/talks/realtime-angular-model</code></li>
            <li><code class="orange">/mattcreager/todo-example</code></li>
          </ul>
        </section>

        <section>
          <h1 class="text-uppercase">Q&amp;A  <span class="blue">@matt_creager</span></h1>
        </section>
      </div>
    </div>

    <script src="/sub_modules/reveal/lib/js/head.min.js"></script>
    <script src="/sub_modules/reveal/js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/sub_modules/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/sub_modules/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/sub_modules/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/sub_modules/reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '/sub_modules/reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
