<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Rescuing Angular's Missing Model &amp; and Making it Real-Time</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/sub_modules/reveal/css/reveal.min.css">
    <link rel="stylesheet" href="custom.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="/sub_modules/reveal/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="/sub_modules/reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="/sub_modules/reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/jop5wss.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div class="df-frame">
      <div class="df-bar"></div>
      <div class="salesforce-logo"></div>
      <div class="mvc-logo"></div>
    </div>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Crafting the Perfect Angular Model<br><span class="green">and Making it
          <em>Real-Time</em></span></h1>
        </section>

        <section>
          <img src="img/halifax.png">
          <h1 style="text-align: center;">Matthew Creager</h1>
          <h4><a href="http://twitter.com/matt_creager" target="_blank">@matt_creager</a></h4>
        </section>

        <section>
          <img src="img/bb_white.png">
        </section>

        <section data-transition="fade">
          <img style="margin-top:-45px;" src="img/goinstant-team.jpg">
        </section>

        <section data-transition="fade">
          <img style="margin-top:-45px;" src="img/goinstant-team-logo.png">
        </section>

        <section>
          <h1 style="font-weight: 200; font-size: 60px; margin-bottom:-40px; margin-left: 15px;">reasonably large</h1>
          <h1 style="font-size: 325px;">DATA</h1>
        </section>

        <section data-background="#343334">
          <video data-autoplay preload="auto" width="1024" height="550">
            <source src="/shared-assets/img/goangular-animated.mp4" type="video/mp4">
          </video>
        </section>

        <section>
          <img src="/shared-assets/img/me-woo.png">
        </section>

        <section>
          <h3>Enough about me, let's chat about <strong> your Angular Application</strong> and it's <strong>Data Model</strong></h3>
        </section>

        <section>
          <h2 class="white"><strong>1</strong></h2>
          <h2 class="blue">Public Service Announcement</h2>
        </section>

        <section>
          <h2><strong>2</strong></h1>
          <h2 class="yellow">Becoming a <strong><em>M</em>odel</strong> Citizen</h2>
        </section>

        <section>
          <h2><strong>3</strong></h2>
          <h2 class="green">Make it <strong>real-time</strong></h2>
        </section>

        <section data-background="img/start.jpg"></section>

        <section>
          <h2 class="white"><strong>Prologue</strong></h2>
          <h2 class="blue">An MVC Refresher</h2>
        </section>

        <section>
          <strong>MVC</strong> is an <strong>architectural pattern</strong> which:<br> (a) <strong>prescribes structure</strong> and, <br> (b) <strong>ascribes responsbilities</strong> to each part of that structure
        </section>

        <section data-transition="fade">
          <img src="img/angular_mvc.png">
        </section>

        <section>
          <img width="75%" src="img/psa.png">
        </section>

        <section>
          <h3>The <strong class="blue">Model</strong> has <em>faded</em> from<br> our collective conciousness</h3>
        </section>

        <section>
          <h3>Ask anyone; if it's on <span class="blue">$scope</span>, it's a model</h3>
          <h2><pre><code>$scope.model = data;</code></pre></h2>
        </section>

        <section>
          <h3>A <strong>first</strong> attempt</h3>
          <img src="img/goangular-todo-v1.png">
        </section>

        <section>
          <h3 class="blue">face<strong>palm</strong></h3>
          <ul>
            <li class="fragment">Data is <strong>married to the life-cycle</strong> of a controller</li>
            <li class="fragment">Code is <strong>self obfuscating</strong></li>
            <li class="fragment">Extend <strong>what ?</strong></li>
            <li class="fragment">Go <strong>directly to storage</strong>; do not pass go, do not collect $200</li>
          </ul>
        </section>

        <section>
          <h3>If it's on <span class="blue">$scope</span>, it's a model?</h3>
          <h3><strong><span class="fragment">Not</span> <span class="fragment">so</span> <span class="fragment">much.</span></strong></h3>
        </section>

        <section data-transition="fade">
          <img src="img/angular_mvc.png">
        </section>

        <section data-transition="fade">
          <img src="img/angular_mvc_2.png">
        </section>

        <section>
          <h3>As it turns out, the <strong class="blue">Model...</strong><br>
          <span class="fragment"> still <em>rediculously</em> useful</span></h3>
        </section>

        <section>
          <h3>++ A <em>convenient</em>, <em>consistent</em> API for data <span class="blue">access</span> and <span class="blue">manipulation</span>
        </section>

        <section>
          <h3>++ The <em>authority</em> on <span class="blue"> state change</span>
        </section>

        <section>
          <h3>++ A <em>home</em> for <span class="blue">business logic</span>
        </section>

        <section>
          <h3>++ data <span class="blue">encapsulation</span></h3>
        </section>

        <section data-transition="fade">
          <img src="img/m-angular.png">
        </section>

        <section data-transition="fade">
          <img src="img/m-angular-2.png">
        </section>

        <section>
          <img src="img/foot.png">
        </section>

         <section data-transition="zoom">
        <h5>A <em>View</em> with a <span class="blue">solid foundation</span></h5>
<pre><code><div ng-controller="UnitCtrl">
  <div ng-repeat="unit in units">
    <img ng-src="{{ unit.image }}">
    <details>
      <span>{{ unit.name }}</span>
      <span>{{ unit.points }} points</span>
      <span>{{ unit.cost | currency }}</span>
      <description>{{ unit.description | words:15  }}</description>
      <button type="button" ng-click="unit.$remove()">Remove</button>
      <button type="button" ng-click="roster.$add(unit)">Add</button>
      <button type="button" ng-click="editUnit(unit)">Edit</button>
    </details>
  </div>
</div></code></pre>
<h5>Is about <strong>presentation</strong> and <strong>interaction</strong></h5>
        </section>

<section data-transition="zoom">
        <h5>A <em>Controller</em> with a <span class="blue">solid foundation</span></h5>
<pre><code>angular
.module('Buildr')
..controller('UnitCtrl', ['$scope', 'bdUnit', function($scope, Unit) {
    $scope.units = Unit.$find();

    $scope.editUnit = function(unit) {
       $scope.editModal.open(unit);  // should accept a promise!
    };
  }]);</code></pre>
<h5>Communicates <strong>behaviour</strong></h5>
        </section>

        <section>
          <h2><strong>2</strong></h1>
          <h2 class="yellow">Becoming a <strong><em>M</em>odel</strong> Citizen</h2>
        </section>

        <section data-background="img/wh.jpg" class="box" >
          <h3 style="padding-top: 25px;"><strong>Building an Army</strong></h3>
        </section>

        <section>
          <h3>Step One: <strong >Find</strong> <span class="yellow">your model</span></h3>
          <h5 class="fragment">What models does a (winning) Warhammer Army require?</h5>
        </section>

        <section>
          <img src="img/unit.jpg" width="45%">
          <h4><strong>Unit</strong></h4>
        </section>

        <section>
          <img src="img/roster.jpg" width="75%">
          <h4><strong>Roster</strong></h4>
        </section>

        <section>
          <h3>Step Two: <strong>Express</strong> your model
          <span class="yellow"><br>(<em>sans</em> implementation)</h3></span>
          <div class="fragment">
            <h5>How can we describe a Roster?</h5>
            <ul>
              <li class="fragment">It must be of a certain type: Space Marines, Beastmen, etc.</li>
              <li class="fragment">It contains units</li>
              <li class="fragment">The units must be of the same type as the roster</li>
              <li class="fragment">It has a limited total number of points</li>
              <li class="fragment">It cannot have more than <code>x</code> units</li>
              <li class="fragment">It cannot exceed <code>x</code> points (each unit has a point value)</li>
            </ul>
          </div>
        </section>

        <section>
          <h3>Step Three: <strong>Give each model a <span class="yellow">home</span></strong></h3>
        </section>

        <section>
          <img src="img/model-folder.png">
        </section>

        <section>
          <img src="img/model-component.png">
        </section>

        <section>
          <blockquote>"we'll build tools that are primarily compatible with this proposed structure"</blockquote>
        </section>

        <section>
          <h3 class="yellow">Not to mention <em>it's</em>, <strong>practical</strong></h3>
          <h5 class="fragment">
            How we <strong>work</strong>
              <strong class="fragment">, version control</strong><strong class="fragment">, and think.</strong>
          </h5>
        </section>

        <section>
          <h3>Step Four: <strong>Finally, <span class="yellow">Implementation</span></strong></h3>
        </section>

        <section>
          <img src="img/model-sandwhich.png">
        </section>

        <section>
          <h5 class="muted">[Code Sample]</h5>
        </section>

        <section>
          <img src="img/model-factory.png">
        </section>

        <section>
          <img src="img/model-sandwhich.png">
        </section>

        <section>
          <img src="img/model-data.png">
        </section>

        <section data-background="white">
          <img src="img/computer-rage.png" width="50%">
          <h3 style="color: black"><strong>Known Issues</strong></h3>
        </section>

        <section>
          <h3><span class="yellow">Javascript</span> <span class="fragment">is asynchronous and stuff</span></h3>
        </section>

        <section>
          <h5>Automatic promise unwrapping is <strong>out</strong>; <strong class="yellow fragment">good.</strong></h5>
          <ul>
            <li class="fragment"><span class="yellow">Implement unwrap on your base model</span>, <strong>where it belongs</strong></li>
            <li class="fragment"><span class="yellow">Return the model <strong>now</strong></span>, populate it <em>whenever</em></li>
          </ul>
        </section>

        <section>
<pre><code>Unit.prototype.$unwrap = function(futureUnitData) {
  var self = this;

  this.$futureUnitData = futureUnitData;
  this.$futureUnitData.then(function(data) {
    if (!self.$valid(data)) return new Error('Trouble in Paradise');
    Unit.$timeout(function() { _.extend(self, data); });
  });
};
</code></pre>
        </section>

        <section>
          <h3><span class="yellow">Javascript</span> <strong class="fragment"> prototypal inheritance</strong></h3>
        </section>

        <section>
          <h5>In <strong class="yellow">83.763%</strong> of cases, you just need this:</h5>
          <ul>
            <li class="fragment">Model -> Key</li>
            <li class="fragment">Model -> User</li>
            <li class="fragment">Model -> User -> Admin</li>
          </ul>
        </section>

        <section>
          <h3>Parasitic <strong class="yellow fragment">combination inheritance</strong></h3>
        </section>

        <section>
<pre><code>var createObject = Object.create;

if (!_.isFunction(createObject)) {
  createObject = function(obj) {
    function F() {}

    F.prototype = obj;
    return new F();
  };
}

function inheritPrototype(SubClass, SuperClass) {
  var superCopy = createObject(SuperClass.prototype);
  superCopy.constructor = SubClass;

  SubClass.prototype = superCopy;
}
</code></pre>
        </section>

<section>
<pre><code>
function UsersModel() {
  Model.apply(this, arguments);

  _.bindAll(this, [
    '$getUser',
    '$on',
    '$off'
  ]);

  _.extend(this, {
    $local: null,
    $$q: arguments[4]
  });
}

inheritPrototype(UsersModel, Model);
</code></pre>
  </section>
        <section>
          <h3><strong class="yellow">Validation</strong> bloat</h3>
        </section>

        <section>
          <img src="img/model-validation.png">
        </section>

        <section>
          <h3>Limited <strong class="yellow">encapsulation</strong></h3>
        </section>

        <section>
          <h5>We don't have a silver bullet, but we do have <strong class="yellow">convention:</strong></h5>
          <ul>
            <li class="fragment">Prefix private methods (with an <code>_</code> or in some cases <code>$$</code>)</li>
            <li class="fragment">use 'safe proxies'</h5>
          </ul>
        </section>

        <section id="slide-access-control">
          <h5>While we're discussing <strong class="yellow">convention</strong></h5>
          <ul>
            <li class="fragment"><span>get</span></li>
            <li class="fragment"><span>set</span></li>
            <li class="fragment"><span>on/off</span></li>
            <li class="fragment"><span>extend</span></li>
            <li class="fragment"><span>initialize</span></li>
            <li class="fragment"><span>sync</span></li>
            <li class="fragment"><span>key/child</span></li>
          </ul>
        </section>

        <section>
          <h2><strong>3</strong></h2>
          <h2 class="green">Make it <strong>real-time</strong></h2>
        </section>

        <section>
          <h3><strong class="green">Events</strong> <strong>and</strong> <strong class="green">context</strong> are required to maintain a <span class="green">local representation</span> of your remote data</h3>
        </section>

        <section>
          <h3>Minimum Required <span class="green"><strong>Events</strong></h3>
          <ul>
            <li class="fragment"><strong>Set:</strong> An existing value has changed</li>
            <li class="fragment"><strong>Add:</strong> A new property has been added</li>
            <li class="fragment"><strong>Remove:</strong> A property has been removed</li>
          </ul>
        </section>

        <section>
          <h3>Sample <span class="green"><strong>Context</strong></h3>
<pre><code>{
  "command": "SET",
  "targetKey": "roster/aRoStErID",
  "currentKey": "roster/",
  "value": "aNewValue",
  "userId": "user_5",
  "position": {
    "current": 4,
    "previous": 6
  },
  "events": {
    "current": 2,
    "total": 3
  }
}</code></pre>
        </section>

        <section>
          <h3>The <strong>Initializing</strong> <strong class="green">Fetch</strong> in Angular</h3>
          <ul>
            <li class="fragment"><strong>Request data</strong> &amp; <strong>return Model</strong></li>
            <li class="fragment"><strong>Unwrap</strong> once the promise once it resolves</li>
            <li class="fragment"<strong>Eat pie</strong>. <em class="green">Angular takes care of the rest...</em></li>
          </ul>
        </section>

        <section>
          <h3><strong class="green">Persist</strong> Local Changes</h3>
          <ul>
            <li class="fragment red">Danger</li>
            <li class="fragment red">Danger</li>
            <li class="fragment red">Danger</li>
          </ul>
        </section>

        <section>
          <h3>Kiss your error <span class="green">locality, performance</span> and <strong>sanity</strong> good-bye</h3>
        </section>

        <section>
          <h3><strong class="green">Persist</strong> Local Changes</h3>
          <ul>
            <li class="fragment">Watch the local model</li>
            <li class="fragment">Calculate the diff</li>
            <li class="fragment">Push changes upstream</li>
          </ul>
        </section>

        <section>
          <h3>CREATE AN AUDIT LOG</h3>
        </section>

        <section>
          <h1>Conclusion</h1>
        </section>

        <section>
          <h3>Have I found the <strong>perfect</strong> model?<br> <em class="fragment blue">Probably not.</em></h3>
        </section>

        <section>
          <h3>Is implementing your own model, <strong>worth the effort?</strong> <em class="fragment yellow">Holy, yes.</em></h3>
        </section>

        <section>
          <h3><strong>Real-time</strong> makes for <strong>much improved user experiences</strong>, and <em>best of all</em>:
          <span class="fragment">The model is still awesome, <span class="fragment green">It just needs to learn <em>"a few new tricks"</em></span><h3>
        </section>

        <section>
          <h3>You'll know you're getting it right when:</h3>
          <ul>
            <li class="fragment">Your model is <strong>easy to unit &amp; intergration test</strong></li>
            <li class="fragment">Your model is <strong>easy to extend</strong></li>
            <li class="fragment">Your model is <strong>portable</strong></li>
            <li class="fragment">Your <strong>controllers &amp; views are thin</strong></li>
          </ul>
          <blockquote class="fragment">"A place for everything, everything in its place." - Benjamin Franklin</blockquote>
        </section>

        <section>
          <h3>GoAngular &amp; Examples on GitHub</h3>
          <ul style="list-style: none">
            <li><code class="orange">/goinstant/goangular</code></li>
            <li><code class="orange">/mattcreager/talks/realtime-angular-model</code></li>
            <li><code class="orange">/mattcreager/todo-example</code></li>
          </ul>
        </section>

        <section>
          <h1 class="text-uppercase">Q&amp;A  <span class="blue">@matt_creager</span></h1>
        </section>
      </div>
    </div>

    <script src="/sub_modules/reveal/lib/js/head.min.js"></script>
    <script src="/sub_modules/reveal/js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/sub_modules/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/sub_modules/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/sub_modules/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/sub_modules/reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '/sub_modules/reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
