<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Rescuing Angular's Missing Model &amp; and Making it Real-Time</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/sub_modules/reveal/css/reveal.min.css">
    <link rel="stylesheet" href="custom.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="/sub_modules/reveal/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="/sub_modules/reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="/sub_modules/reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/jop5wss.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div class="df-frame">
      <div class="df-bar"></div>
      <div class="logo"></div>
    </div>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <!-- <h1><img src="img/gi-logo.png"></h1> -->
          <h1>Crafting the Perfect Angular Model<br><span class="green">and Making it <em>Real-Time</em></span></h1>
        </section>

        <section>
          <img src="img/halifax.png">
          <h1 style="text-align: center;">Matthew Creager</h1>
          <h4><a href="http://twitter.com/matt_creager" target="_blank">@matt_creager</a></h4>
        </section>

        <section>
          <img src="img/bb_white.png">
        </section>

        <section>
          <h1 style="font-weight: 200; font-size: 60px; margin-bottom:-40px; margin-left: 15px;">reasonably large</h1>
          <h1 style="font-size: 325px;">DATA</h1>
        </section>

        <section data-transition="fade">
          <img style="margin-top:-45px;" src="img/goinstant-team.jpg">
        </section>

        <section data-transition="fade">
          <img style="margin-top:-45px;" src="img/goinstant-team-logo.png">
        </section>

        <section data-background="#343334">
          <video data-autoplay preload="auto" width="1024" height="550">
            <source src="/shared-assets/img/goangular-animated.mp4" type="video/mp4">
          </video>
        </section>

        <section>
          <img src="/shared-assets/img/me-woo.png">
        </section>

        <section>
          <h3>Enough about me, let's chat about <strong> your Angular Application</strong> and it's <strong>Data Model</strong></h3>
        </section>

        <section>
          <h2 class="white"><strong>1</strong></h2>
          <h2 class="blue">With <strong><em>great</em> power</strong><br>
          comes <strong><em>great</em> responsibility</strong></h2>
        </section>

        <section>
          <h2><strong>2</strong></h1>
          <h2 class="yellow">Becoming a <strong><em>M</em>odel</strong> Citizen</h2>
        </section>

        <section>
          <h2><strong>3</strong></h2>
          <h2 class="green">Make it <strong>real-time</strong></h2>
        </section>

        <section data-background="img/wh.jpg" class="box" >
          <h3 style="padding-top: 25px;"><strong>Todays Todo Application</strong></h3>
        </section>

        <section data-background="img/start.jpg"></section>

        <section>
          <h2 class="white"><strong>1</strong></h2>
          <h2 class="blue">With <strong><em>great</em> power</strong><br>
          comes <strong><em>great</em> responsibility</strong></h2>
        </section>

        <section>
          <h3><strong>The <span class="blue">Power</span></strong></h3>
        </section>

        <section><strong>MVC</strong> is an <strong>architectural pattern</strong> which:<br> (a) <strong>prescribes structure</strong> and, <br> (b) <strong>ascribes responsbilities</strong> to each part of that structure</section>

        <section data-transition="fade">
          <img src="img/angular_mvc.png">
        </section>

        <section data-transition="fade">
          <img src="img/angular_mvc_2.png">
        </section>

        <section>
          <h3>++ A <em>convenient</em>, <em>consistent</em> API for data <span class="blue">access</span> and <span class="blue">manipulation</span>
        </section>

        <section>
          <h3>++ an <span class="blue">authority</span> on <span class="blue"> state change</span>
        </section>

        <section>
          <h3>++ a <span class="blue">home</span> for <span class="blue">business logic</span>
        </section>

         <section>
          <h3>++ data <span class="blue">encapsulation</span></h3>
        </section>

        <section>
          <h3><strong>The <span class="blue">Responsibility</span></strong></h3>
        </section>

        <section>
          <h3>If it's on <span class="blue">$scope</span>, it's a model</h3>
          <h2><pre><code>$scope.model = data;</code></pre></h2>
        </section>

        <section>
          <h3>A <strong>first</strong> attempt</h3>
          <img src="img/goangular-todo-v1.png">
        </section>

        <section>
          <h3 class="blue">face<strong>palm</strong></h3>
          <ul>
            <li class="fragment">Data is <strong>married to the life-cycle</strong> of a controller</li>
            <li class="fragment">Code is <strong>self obfuscating</strong></li>
            <li class="fragment">Extend <strong>what ?</strong></li>
            <li class="fragment">Go <strong>directly to storage</strong>; do not pass go, do not collect $200</li>
          </ul>
        </section>

        <section>
          <h3>If it's on <span class="blue">$scope</span>, it's a model?</h3>
          <h3><strong><span class="fragment">Not</span> <span class="fragment">so</span> <span class="fragment">much.</span></strong></h3>
        </section>

        <section>
          <img src="img/foot.png">
        </section>

         <section data-transition="zoom">
        <h5>A <em>View</em> with a <span class="blue">solid foundation</span></h5>
<pre><code><div ng-controller="UnitCtrl">
  <div ng-repeat="unit in units">
    <img ng-src="{{ unit.image }}">
    <details>
      <span>{{ unit.name }}</span>
      <span>{{ unit.points }} points</span>
      <span>{{ unit.cost | currency }}</span>
      <description>{{ unit.description | words:15  }}</description>
      <button type="button" ng-click="unit.$remove()">Remove</button>
      <button type="button" ng-click="roster.$add(unit)">Add</button>
      <button type="button" ng-click="editUnit(unit)">Edit</button>
    </details>
  </div>
</div></code></pre>
<h5>Is about <strong>presentation</strong> and <strong>interaction</strong></h5>
        </section>

<section data-transition="zoom">
        <h5>A <em>Controller</em> with a <span class="blue">solid foundation</span></h5>
<pre><code>angular
.module('Buildr')
..controller('UnitCtrl', ['$scope', 'bdUnit', function($scope, Unit) {
    $scope.units = Unit.$find();

    $scope.editUnit = function(unit) {
       $scope.editModal.open(unit);  // should accept a promise!
    };
  }]);</code></pre>
<h5>Communicates <strong>behaviour</strong></h5>
        </section>

        <section data-transition="fade">
          <img src="img/m-angular.png">
        </section>

        <section data-transition="fade">
          <img src="img/m-angular-2.png">
        </section>

        <section>
          <h2><strong>2</strong></h1>
          <h2 class="yellow">Becoming a <strong><em>M</em>odel</strong> Citizen</h2>
        </section>

        <section>
          <h3><strong>Finding your <span class="yellow">Model</span></strong></h3>
        </section>

        <section>
          <h4>Unit</h4>
          <img src="img/unit.jpg" width="30%">
<pre><code>{
  "name": "Lord Droth",
  "points": 500,
  "enhancements": [ "Scimitar", "Boots", "Big Gun" ],
  "cost": 5.4,
  "image": "http://www.games-workshop.com/GromMain_873x627.jpg",
  "type": "hero"
}</code></pre>
        </section>

        <section>
        <h4>Roster</h4>
          <img src="img/roster.jpg" width="55%">
<pre><code>{
  "units": [ "Lord Droth", "Ogre", "Gryphon" ],
  "points": 1650
}</code></pre>
        </section>

        <section>
          <h3>Let's <strong>express</strong> our roster model
          <span class="yellow"><br> <em>sans</em> implementation</h3></span>
          <ul>
            <li class="fragment">Two possible types: Fantasy or 40k</li>
            <li class="fragment">Limited total points</li>
            <li class="fragment">Limited total units</li>
            <li class="fragment">Unit composition requirements</li>
          </ul>
        </section>

        <section>
          <h3><strong>Giving it a <span class="yellow">Home</span></strong></h3>
        </section>

        <section>
          <img src="img/model-folder.png">
        </section>

        <section>
          <img src="img/model-component.png">
        </section>

        <section>
          <blockquote>"we'll build tools that are primarily compatible with this proposed structure"</blockquote>
        </section>

        <section>
          <h3 class="yellow">Not to mention <em>it's</em>, <strong>practical</strong></h3>
          <ul>
            <li class="fragment">How we <strong>think</strong></li>
            <li class="fragment">How we <strong>work</strong></li>
            <li class="fragment">How we <strong>version control</strong></li>
          </ul>
        </section>

        <section>
          <h3>The <strong class="yellow">Model Sandwich</strong></h3>
        </section>

        <section>
          <img src="img/model-sandwhich.png">
        </section>

        <section>
          <img src="img/model-factory.png">
        </section>

        <section>
          <img src="img/model-sandwhich.png">
        </section>

        <section>
          <img src="img/model-data.png">
        </section>

        <section>
          <strong class="yellow">Validation</strong></h3>
        </section>

        <section>
          <img src="img/model-validation.png">
        </section>

        <section>
          <h3><strong class="yellow">Rule of thumb</strong><br>
          Model state <strong>must always be valid</strong></h3>
        </section>

        <section>
          <strong class="yellow">Extensibility</strong></h3>
        </section>

        <section>
          <h3>Model -> Key</h3>
          <h3>Model -> User</h3>
        </section>

        <section>
          <h3>Parasitic combination <strong class="yellow">inheritance</strong></h3>
        </section>

        <section>
          <strong class="yellow">Convention</strong></h3>
        </section>

        <section id="slide-access-control">
          <ul>
            <li class="fragment"><span>get</span></li>
            <li class="fragment"><span>set</span></li>
            <li class="fragment"><span>on/off</span></li>
            <li class="fragment"><span>extend</span></li>
            <li class="fragment"><span>initialize</span></li>
            <li class="fragment"><span>sync</span></li>
            <li class="fragment"><span>key/child</span></li>
          </ul>
        </section>

        <section>
          <h2><strong>3</strong></h2>
          <h2 class="green">Make it <strong>real-time</strong></h2>
        </section>

        <section>
          <h3><strong class="green">Context</strong> <strong>and</strong> <strong class="green">events</strong> are used to maintain a <span class="green">local representation</span> of your remote data</h3>
        </section>

        <section>
          <h3><span class="green"><strong>Event Bindings</strong></h3>
          <ul>
            <li class="fragment"><strong>Set:</strong> An existing value has changed</li>
            <li class="fragment"><strong>Add:</strong> A new property has been added</li>
            <li class="fragment"><strong>Remove:</strong> A property has been removed</li>
          </ul>
        </section>

        <section>
          <h3><span class="green"><strong>Context</strong></h3>
<pre><code>{
  "command": "SET",
  "targetKey": "roster/aRoStErID",
  "currentKey": "roster/",
  "value": "aNewValue",
  "userId": "user_5",
  "position": {
    "current": 4,
    "previous": 6
  },
  "events": {
    "current": 2,
    "total": 3
  }
}</code></pre>
        </section>

        <section>
          <h3>The Initializing <strong class="green">Fetch</strong></h3>
          <ul>
            <li class="fragment">Primes the model</li>
            <li class="fragment">Ensures a valid state</li>
            <li class="fragment">Publishes a notification</li>
          </ul>
        </section>

        <section>
          <h3>Return an object <strong>now</strong><br> <span class="green">populate it <em>later</em><span class="green"></h3>
        </section>

        <section>
          <h3><strong>Promises</strong> (Q/$q) for the <em>one-hit wonders</em>,
          <span class="green"> <strong>events</strong> for the <em>other stuff</em></span></h3>
        </section>

        <section>
          <h3><strong class="green">Persist</strong> Local Changes (if you <em>must</em>)</h3>
          <ul>
            <li class="fragment">Watch the local model</li>
            <li class="fragment">Calculate the diff</li>
            <li class="fragment">Push changes upstream</li>
          </ul>
        </section>

        <section>
          <h3>Caution: Kiss your error <span class="green">locality, performance</span> and <strong>sanity</strong> good-bye</h3>
        </section>

        <section>
          <h3>CREATE AN AUDIT LOG</h3>
        </section>

        <section>
          <h1>Conclusion</h1>
        </section>

        <section>
          <h3>Models provide an API for <span class="blue">accessing</span> and <span class="blue">manipulating</span> data</h3>
        </section>

        <section>
          <h3><span class="blue">Data encapsulation</span> is important, especially in Angular</h3>
        </section>

        <section>
          <h3>Make a model real-time by:</h3>
          <ul>
            <li class="fragment">1. Monitoring remote
            events</li>
            <li class="fragment">2. Performing an initial
            fetch</li>
            <li class="fragment">3. Monitoring and persisting local state</li>
          </ul>
        </section>

        <section>
          <h3>Signs you’re doing it right:</h3>
          <ul>
            <li class="fragment">Your model is easy to unit &amp; intergration test</li>
            <li class="fragment">Your model is easy to extend</li>
            <li class="fragment">Your model is portable</li>
            <li class="fragment">Your controllers are skinny</li>
            <li class="fragment">"A place for everything, everything in its place." - Benjamin Franklin</li>
          </ul>
        </section>

        <section>
          <h3>GoAngular &amp; Examples on GitHub</h3>
          <ul style="list-style: none">
            <li><code class="orange">/goinstant/goangular</code></li>
            <li><code class="orange">/mattcreager/talks/realtime-angular-model</code></li>
            <li><code class="orange">/mattcreager/todo-example</code></li>
          </ul>
        </section>

        <section>
          <h1 class="text-uppercase">Q&amp;A  <span class="blue">@matt_creager</span></h1>
        </section>
      </div>
    </div>

    <script src="/sub_modules/reveal/lib/js/head.min.js"></script>
    <script src="/sub_modules/reveal/js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/sub_modules/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/sub_modules/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/sub_modules/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/sub_modules/reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '/sub_modules/reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
