// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #10222E;

$mainFont: 'proxima-nova', sans-serif;
$linkColor: #44BCFF;
$linkColorHover: lighten( $linkColor, 15% );
$headingFont: 'proxima-nova', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.02em;
$headingTextTransform: none;
$selectionBackgroundColor: #e7ad52;
$mainFontSize: 35px;

//Color Variables

$yellow: #f3cd2c;
$pink: #df68a8;
$orange: #f5931b;
$red: yellow;
$green: #92c13a;
$blue: $linkColor;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.df-frame {
	position: fixed;
  z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	.df-bar {
		position: absolute;
		height: 60px;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #44BCFF;
    box-shadow: 0 -2px 15px fade-out(black, .8);
    z-index: -1;
	}
}

.df-motif {
  float: left;
  width: 209px;
	height: 174px;
  background: url('../../img/df-motif.png') no-repeat -1px top;
}

.df-logo {
  float: right;
  width: 209px;
  height: 174px;
  background: url('../../img/sf-logo.png') no-repeat left -10px;
}

.reveal .progress {
  height: 8px;
  background: fade-out(black, .75);
}
  .reveal .progress span {
    background: white;

    -webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
       -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
        -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
         -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
            transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  }

.reveal section img {
  background: transparent;
  border: 0;
  box-shadow: none;
  &:hover {
    background: transparent;
    box-shadow: none;
  }
}

.fine-print {
  text-align: left;
  p {
    font-size: .45em;
    font-weight: 100;
    letter-spacing: 0;
  }
}

#slide-location {
  margin-top: -5em;
  padding-top: 1em;
}

#slide-access-control {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: table;
      position: absolute;
      width: 200px;
      height: 100px;
      line-height: 1;
      background: fade-out($linkColor, .9);
      border-radius: 3em;
      text-align: center;
      color: $linkColor;
      font-weight: 100;
      padding: .5em 1em;
      span {
        display: table-cell;
        vertical-align: middle
      }
      &:nth-child(1) {
        top: -200px;
        left: 50%;
        margin-left: -100px;
      }
      &:nth-child(2) {
        top: -150px;  
        right: -50px;
      }
      &:nth-child(3) {
        top: 50px;
        right: -150px;
      }
      &:nth-child(4) {
        top: 200px;  
        right: 150px;
      }
      &:nth-child(5) {
        top: 200px;
        left: 150px;
      }
      &:nth-child(6) {
        top: 50px;
        left: -150px;
      }
      &:nth-child(7) {
        top: -150px;
        left: -50px;
        font-size: .8em;
      }
    }
  }
}

//Helpers

.reveal .text-uppercase {
  text-transform: uppercase;
}

ul.box-set {
  margin: 1em 0;
  padding: 0;
  li {
    display: table;
    float: left;
    width: 31%;
    height: 150px;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: 1em;
    border-radius: 3px;
    text-align: center;
    background: fade-out($linkColor, .9);
    color: $linkColor;
    font-weight: 100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@mixin box($color: fade-out($backgroundColor, .1)) {
  background: $color;
  border-radius: 5px;
}

.box {
  @include box();
}

//Colors

.reveal {

  .yellow {
    color: $yellow;
  }

  .pink {
    color: $pink;
  }

  .orange {
    color: $orange;
  }

  .red {
    color: $red;
  }

  .green {
    color: $green;
  }

  .blue {
    color: $blue;
  }

}
