@import "../node_modules/reveal.js/css/reveal.scss";
@import "./theme";

@mixin gradient-primary {
  background-color: #3B2F63;
  background-image: -webkit-radial-gradient(0% bottom,   rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), -webkit-radial-gradient(90% bottom,   #523f8c 0%, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% top,   rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top,   #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  background-image: radial-gradient(  at 0% bottom, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(  at 90% bottom, #523f8c 0%, rgba(82, 63, 140, 0) 40%), radial-gradient(  at 50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), radial-gradient(  at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  background-repeat: no-repeat;
}

.reveal	{
	h6 {
		text-transform: uppercase;
		font-size: .65em;
		font-weight: bold;
		letter-spacing: .25em;
	}
	section {
		img {
			border: 0;
			background: 0;
			box-shadow: none;
		}
	}
}

.light-on-dark {
	h1 {
		color: white;
	}
	h2, h3, h4 {
		color: fade-out(white, .2);
	}
	hr {
		border-color: fade-out(white, .75);
	}
	&.slide-background {
		@include gradient-primary();
	}
}

#presenter {
	[rel="author"],
	.fragment {
		display: block;
	}
	.title {
		color: $brandInfo;
	}
}