@import "../node_modules/reveal.js/css/reveal.scss";
@import "./theme";

#heroku-intro {

	#title {
		h1 {
			color: #E7E7EC;
		}

		h2 {
			font-size: 1.5em;
			color: #CBCBD2;
		}

		hr {
			color: #7D7D8E;
		}
	}

	#presenter {
		a, span {
			display: block;
		}

		a {
			font-size: 2.5em;
			font-weight: 700;
		}

		.title {
			font-size: 1.5em;
		}

		.twitter a {
			font-size: 1.5em;
			font-weight: 200;
		}
	}

	.customer .header {
		display: flex;

		flex-flow: row;
		justify-content: space-around;
		align-items: center;

		.logo {
			flex-basis: 343px;
		}

		h3 {
			font-size: 1em;
		}
	}
}