// Default mixins and settings -----------------
@import "../node_modules/reveal.js/css/theme/template/mixins";
@import "../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

//Benton Sans
@font-face {
  font-family: 'benton-sans';
  font-weight: 200;
  font-style: normal;
  src: url('//www.herokucdn.com/fonts/bentonsans-book.eot');
  src: url('//www.herokucdn.com/fonts/bentonsans-book.eot?#iefix') format('embedded-opentype'), url('//www.herokucdn.com/fonts/bentonsans-book.woff') format('woff'), url('//www.herokucdn.com/fonts/bentonsans-book.ttf') format('truetype'), url('//www.herokucdn.com/fonts/bentonsans-book.svg#benton-sans') format('svg'); }

@font-face {
  font-family: 'benton-sans';
  font-weight: normal;
  font-style: normal;
  src: url('//www.herokucdn.com/fonts/bentonsans-regular.eot');
  src: url('//www.herokucdn.com/fonts/bentonsans-regular.eot?#iefix') format('embedded-opentype'), url('//www.herokucdn.com/fonts/bentonsans-regular.woff') format('woff'), url('//www.herokucdn.com/fonts/bentonsans-regular.ttf') format('truetype'), url('//www.herokucdn.com/fonts/bentonsans-regular.svg#benton-sans') format('svg'); }

@font-face {
  font-family: 'benton-sans';
  font-weight: bold;
  font-style: normal;
  src: url('//www.herokucdn.com/fonts/bentonsans-medium.eot');
  src: url('//www.herokucdn.com/fonts/bentonsans-medium.eot?#iefix') format('embedded-opentype'), url('//www.herokucdn.com/fonts/bentonsans-medium.woff') format('woff'), url('//www.herokucdn.com/fonts/bentonsans-medium.ttf') format('truetype'), url('//www.herokucdn.com/fonts/bentonsans-medium.svg#benton-sans') format('svg'); }

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #E7E7EC;

$mainFont: benton-sans, sans-serif;
$mainFontSize: 28px;
$mainColor: #79589F;
$contentColor: #333;

$headingColor: #79589F;
$headingFont: $mainFont;
$headingTextShadow: 0.1;
$headingLetterSpacing: -0.04em;
$headingTextTransform: none;
$headingFontWeight: 200;

$linkColor: #534A93;
$linkColorHover: lighten( $linkColor, 20% );

$selectionBackgroundColor: #3F3F44;

$brandDanger: #D64242;
$brandInfo: darken(#56CDFC, 20%);

$timelineColor: $mainColor;
$timelineColorHighlight: $mainColor;


// Theme template ------------------------------
@import "../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------